{% extends "maitre.html" %}

{% block title %}Documentation{% endblock %}

{% block contenu %}
<div class="container-lg">
    <br>
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bold text-white">Documentation</h1>
        <hr class="border-secondary w-25 mx-auto mt-3">
    </div>
    
    <div class="mb-4">
        <a href="/admin/" class="btn btn-primary">Ajouter une amélioration</a>
    </div>

<!-- Sert à afficher la liste des améliorations proposées pour le projet. Chaque amélioration est affichée dans une section avec son nom en titre et sa description en dessous. Les données des améliorations sont récupérées de la base de données via la vue documentationView et passées au template pour être affichées dynamiquement. -->
    {% for amelioration in ameliorations %}
    <div class="bg-light p-4 rounded mb-4">
        <h2 class="mb-3">{{ amelioration.nom }}</h2>
        <p>{{ amelioration.description }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}