{% extends "maitre.html" %}

{% block title %}Documentation{% endblock %}

{% block contenu %}
<div class="container-lg">
    <br>
    <h1>Documentation</h1>
    
    <div class="bg-light p-4 rounded mb-4">
        <h3 class="mb-3">Amélioration 1: PAGE FILMS</h3>
        <p>Remplacement des images des deux films du fichier .txt par leur véritable affiche.</p>
    </div>
    
    <div class="bg-light p-4 rounded mb-4">
        <h3 class="mb-3">Amélioration 2: PAGE FILMS</h3>
        <p>Ajout d'un bouton pour voir les bandes-annonces pour certains films.</p>
    </div>
    <div class="bg-light p-4 rounded mb-4">
        <h3 class="mb-3">Amélioration 3: PAGE FILMS</h3>
        <p>Effet de zoom sur les images des films au survol.</p>
    </div>
    <div class="bg-light p-4 rounded mb-4">
        <h3 class="mb-3">Amélioration 4: RESPONSIVE</h3>
        <p>Utilisation de classes Bootstrap pour rendre le site responsive. (container-lg, row, col-md-4, etc.)</p>
    </div>
</div>
{% endblock %}