{% extends "maitre.html" %}

{% block title %}Films{% endblock %}

{% block contenu %}
<div class="container-lg films-page">
    <br>
    <h1>Liste des films à l'affiche</h1>
    
    {% for film in films %}
    <div class="row mb-5 p-4 bg-light rounded">
        <div class="col-md-4">
            <img src="{{ film.image }}" alt="{{ film.nom }}" class="rounded" style="width: 100%;height: 100%;object-fit: cover">
        </div>
        <div class="col-md-4">
            <h2 class="mb-3 fw-bold">{{ film.nom }}</h2>
            <p class="mb-2"><strong>Date :</strong> {{ film.date }}</p>
            <p class="mb-2"><strong>Heure :</strong> {{ film.heure }}</p>
            <p class="mb-2"><strong>Catégorie:</strong> {{ film.categorie }}</p>
            <p class="mb-2"><strong>Salle:</strong> {{ film.salle }}</p>
            <p class="mb-2"><strong>Meilleur vendeur:</strong> {{ film.meilleurVendeur }}</p>
        </div>
        <div class="col-md-4">
            <h4 class="mb-3">Description</h4>
            <p>{{ film.description }}</p>
            <!-- Bouton pour voir la bande-annonce du film, qui ouvre le lien de la bande-annonce dans un nouvel onglet du navigateur. -->
            <a href="{{ film.bandeAnnonce }}" class="btn btn-info mt-3" target="_blank">Voir la bande-annonce</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}