{% extends "maitre.html" %}

{% block title %}Films{% endblock %}

{% block contenu %}
<div class="container">
    <h1>Liste des films à l'affiche</h1>
    
    <table class="table table-light">
        <thead>
            <th scope="col-1">Image</th>
            <th scope="col-2">Nom</th>
            <th scope="col-1">Catégorie</th>
            <th scope="col-1">Date</th>
            <th scope="col-1">Heure</th>
            <th scope="col-1">Salle</th>
            <th scope="col-3">Description</th>
            <th scope="col-1">Meilleur vendeur</th>
        </thead>
        <tbody>
            {% for film in films %}
            <tr>
                <td><img src="{{ film.image }}" alt="{{ film.nom }}" style="width: 100px; height: auto;"></td>
                <th>{{ film.nom }}</th>
                <td>{{ film.categorie }}</td>
                <td>{{ film.date }}</td>
                <td>{{ film.heure }}</td>
                <td>{{ film.salle }}</td>
                <td>{{ film.description }}</td>
                <td>{% if film.meilleurVendeur == 'oui' %}Oui{% else %}Non{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}