{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Lien CDN Boostrap 5.3 & CSS Static (Problème de lien) -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <meta charset="UTF-8">


</head>
<body>
<hr>
<!-- Afficher le bloc du menu -->
{% include "menu.html" %}

{% block contenu %} 

{% endblock %}
<BR></BR>

<!-- Bloc footer temporaire -->
{% block footer %} FOOTER 
{% endblock %}

</body>
</html>