<!DOCTYPE html>
<html lang="en">

<body>
    <header class="bg-light border-bottom">
        <div class="container">
            <div class="row align-items-center py-2">
                <div class="col-md-6">
                    <p>Cinéma le Scénario</p>
                </div>
            </div>
        </div>
    </header>
    <a href="/">Accueil</a>
    <br> 
    <a href="/films">Films</a>
    <br> 
    <a href="/documentation">Documentation</a>
    <br>
    <a href="/apropos">À propos</a>

</body>
</html>